<% layout('layouts/boilerplate') %>

    <div class="fluid-container mx-5 mb-3">
        <div class="display-2 mb-3 text-center">
            <%= deptName %> Courses
        </div>
        <div class="row">
            <% for (let course of courses) { %>
                <div class="col-md-3 mt-2 mb-2">
                    <div class="card text-white bg-success border-success">
                        <div class="card-header lead"><strong>
                                <%= course.code %>
                                    <%= course.number %>
                            </strong></div>
                        <div class="card-body">
                            <h5 class="card-title text-truncate">
                                <%= course.title.split(' ').slice(0, 8).join(' ') %><% if (course.title.split(' ').length > 8) { %>...
                                    <% } %> 
                            </h5>
                            <p class="card-text"> 
                                <% if (course.description == "") { %>
                                    <i>
                                    <%= "No description available" %> 
                                    </i>
                                    <% } else { %>
                                        <%= course.description.split(' ').slice(0, 24).join(' ') %>... 
                                
                                        <% } %> 
                                
                                
                            </p>
                            <a href="/departments/<%= course.code %>/<%= course.number %>" class="btn btn-primary text-dark bg-light border-success">View Course</a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>