<% layout('layouts/boilerplate') %>

    <div class="container mt-3">
        <h1 class="display-5">
            <%= course.code %>
                <%= course.number %>: <%= course.title %>
        </h1>

        <hr>

        <div class="col">
            <h3 class="lean">Description</h3>
            <p>
                <% if (course.description=="" ) { %>
                    <i>
                        <%= "No description available" %>
                    </i>
                    <% } else { %>
                        <%= course.description %>                                                                 
                                                                        <% } %> 
            </p>
            <a href="<%= course.url %> ">View on Dartmouth ORC</a>
        </div>

        <br>


        <h3 class="lean">Reviews</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width: 3%">#</th>
                    <th scope="col" style="width: 7%">Term</th>
                    <th scope="col" style="width: 15%">Professor</th>
                    <th scope="col" style="width: 75%">Review</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>20F</td>
                    <td>Timothy Pierson</td>
                    <td>Great class! Highly recommend</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>20F</td>
                    <td>Timothy Pierson</td>
                    <td>Great class! Highly recommend #2</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>20F</td>
                    <td>Timothy Pierson</td>
                    <td>Great class! Highly recommend #3</td>
                </tr>
            </tbody>
        </table>

        <hr>

        <h3 class="lean">Similar Classes</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for (let simC of similarCourses) { %>
                    <tr>
                        <td><a href="/departments/<%= simC.code %>/<%= simC.number %> " style="color:#00693e">
                                <%= simC.code %>
                                    <%= simC.number %>: <%= simC.title %>
                            </a></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

    </div>